h1, h2, h3, p, img, textarea {margin: 0; padding: 0;}

.App {
  margin: 10px auto 0;
  max-width: 322px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

h1 {
  text-align: center;
  font-size: 34px;
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 5px;
  font-size: 20px;
}

h3 {
  font-size: 18px;
  margin-bottom: 3px;
  text-align: center;
}

p {
  margin-bottom: 6px;
}

.author {
  font-style: italic;
}

.book {
  margin-bottom: 20px;
}

img {
  margin-top: 3px;
  width: 100%;
}

textarea {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding: 5px;
  font-size: inherit;
}

button {
  width: 100%;
  font-size: 18px;
  border: 1px solid #0066cc;
  background-color: #0099cc;
  color: #ffffff;
  padding: 5px 10px;
}

button:hover {
  border: 1px solid #0099cc;
  background-color: #00aacc;
  color: #ffffff;
  padding: 5px 10px;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}